    /* Melody 8/29/2024 */
table{
    border-collapse: collapse;
    border: thin solid;
    table-layout:auto;
}
th{
    border: solid thin;
    font-size: 20px;
}
td{
    border: solid thin;
    font-size: 14px;
}